/* Estilos generales ------------------------------------------------------------------*/

*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/*Estilos Header -----------------------------------------------------------------------*/


/*Estilos Main -------------------------------------------------------------------------*/



/*Estilos Footer -----------------------------------------------------------------------*/



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*TABLET -------------------------------------------------------------------------------*/
@media all and (min-width: 768px){



}
/*termina tablet -----------------------------------------------------------------------*/

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*DESKTOP ------------------------------------------------------------------------------*/
@media all and (min-width: 1024px){



}
/*termina desktop ----------------------------------------------------------------------*/
